@font-face
{
	font-family: 'Segoe UI';
	src: url('../ttf/segoeui.ttf') format('truetype')
}

@font-face
{
	font-family: 'Tahoma';
	src: url('../ttf/tahoma.ttf') format('truetype')
}

html { display: flex; width: 100vw; height: 100vh; }
body { width: 100%; }

platform-frame { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; user-select: none; z-index: -1; }
platform-frame div#frameTop, platform-frame div#frameCenter, platform-frame div#frameBottom { display: flex; flex-direction: row; }
platform-frame div#frameDragRegion { margin-top: 6px; height: calc(100% - 6px); -webkit-app-region: drag; }
platform-frame div#favicon { width: 16px; height: 16px; background: url(../png/favicon.png); position: absolute; }
platform-frame div#title { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
platform-frame div#title, platform-frame div#minimize, platform-frame div#maximize, platform-frame div#close { position: absolute; -webkit-app-region: no-drag; }

body[maximized="true"] platform-frame div#frameDragRegion { margin-top: 0; height: calc(100%); }